@use "@/colors"

html, body
  font-size: 16px
  font-family: Rubik, sans-serif
  font-variant-numeric: tabular-nums
  text-rendering: optimizeLegibility
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  position: relative
  fill: white
  color: var(--color-cream)
  touch-action: none
  overflow: hidden scroll
  scroll-snap-type: y mandatory
  background-color: hsl(197, 14%, 9%)

.buttons
  padding: 0.5em
  top: 0
  position: sticky
  display: flex
  flex-direction: row
  align-items: center
  column-gap: 0.5em
  font-size: 1.25vw

  > svg
    aspect-ratio: 1 / 1

  > button
    font-size: inherit
    font-family: inherit
    padding: 0.25em 0.5em
    appearance: none
    background: rgba(black, 0.25)
    border: none
    border-radius: 1px
    cursor: pointer

    &.playing:before
      content: "🔊"
      margin-right: 0.25em

p
  line-height: 1.5em

h1
  font-size: 6vw

h2
  font-size: 1.5vw

h1, h2, h3, h4, h5
  margin: 0
  font-weight: normal

*, *::before, *::after
  box-sizing: border-box
  user-select: none
  -webkit-user-select: none

.hidden
  display: none !important