component
  scroll-snap-align: start
  flex: 0 0 100vh
  width: 100vw
  height: 100vh
  padding: 3vw
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  p
    text-align: justify
    color: transparent
    background: linear-gradient(90deg, var(--color-blue), var(--color-green))
    -webkit-background-clip: text
    background-clip: text